<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/site.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <div class="vertical_center" >
      <div class="profile_widget" >
        <div class="pw_avatar" >
          <img src="{{profileImg}}" alt="" />
        </div><!-- /.pw_avatar -->
        <div class="pw_info" >
          <h1>{{profile.firstName}} {{profile.lastName}}</h1>
          <h2>{{profile.headline}}</h2>
          <div class="pw_tag" >
            <img src="assets/img/tag.png" alt="" />
          </div><!-- /.pw_tag -->
          <p>{{profile.summary}}</p>
        </div><!-- /.pw_info -->
        <div class="pw_skills" >
          <ul>
            {{#each profile.skills}}
            <li class="pw_skill">{{name}}</li>
            <!--li class="pw_skill">Javascript</li>
            <li class="pw_skill">Go</li>
            <li class="pw_skill">Swift</li-->
            {{/each}}
          </ul>
        </div><!-- /.pw_social -->
        <div class="pw_positions" >
          <ul>
            {{#each profile.positions.values}}
            <li class="pw_skill">{{title}}</li>
            <!--li class="pw_skill">Javascript</li>
            <li class="pw_skill">Go</li>
            <li class="pw_skill">Swift</li-->
            {{/each}}
          </ul>
        </div><!-- /.pw_social -->
      </div><!-- /.profile_widget -->
    </div><!-- /.vertical_center --> 
    <!--script type="text/javascript" src="//platform.linkedin.com/in.js">
    lang:               es_ES
    api_key:            78y5b1urgxpswh
    authorize:          true
    credentials_cookie: true
    </script>
    <script type="text/javascript" src="assets/js/profile.js"></script-->
  </body>
</html>