<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/site.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <div class="vertical_center" >
      <div class="profile_widget" >
        <div class="pw_avatar" >
          <img src="https://pbs.twimg.com/profile_images/1263403750/riverscuomo-mustache_400x400.jpg" alt="" />
        </div><!-- /.pw_avatar -->
        <div class="pw_info" >
          <h1>Hacker Hipster</h1>
          <h2>CTO Nazca Ventures</h2>
          <div class="pw_tag" >
            <img src="assets/img/tag.png" alt="" />
          </div><!-- /.pw_tag -->
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit.</p>
        </div><!-- /.pw_info -->
        <div class="pw_skills" >
          <ul>
            <li class="pw_skill">Javascript</li>
            <li class="pw_skill">Go</li>
            <li class="pw_skill">Swift</li>
          </ul>
        </div><!-- /.pw_social -->
      </div><!-- /.profile_widget -->
    </div><!-- /.vertical_center --> 
  </body>
</html>